<p class="head">Login</p>
<div class="d-flex align-items-center flex-column justify-content-center h-100">
  <form class="col-md-3" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
    <div class="form-group mt-3">
      <input class="form-control form-control-lg" placeholder="Email*" type="email" formControlName="email">
    </div>
    <div class="form-group">
      <input class="form-control form-control-lg" placeholder="Password*" type="password" formControlName="pass">
    </div>
    <div class="form-group mt-5">
      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-info btn-lg btn-block"><i class="fas fa-sign-in-alt"></i>&nbsp;Login</button>
    </div>
  </form>
</div>
