<p class="head">SignUp</p>
<div class="d-flex align-items-center flex-column justify-content-center h-100">
  <form class="col-md-4">
    <div class="form-group mt-1">
      <input class="form-control form-control-md" placeholder="Username" type="text">
    </div>
    <div class="form-group">
      <input class="form-control form-control-md" placeholder="Email" type="email">
    </div>
    <div class="form-group">
      <input class="form-control form-control-md" placeholder="Address" type="text">
    </div>
    <div class="form-group">
      <input class="form-control form-control-md" placeholder="Contact Number" type="number">
    </div>
    <div class="form-group">
      <input class="form-control form-control-md" placeholder="Gender" type="text">
    </div>
    <div class="form-group">
      <input class="form-control form-control-md" placeholder="Password" type="password">
    </div>
    <div class="form-group">
      <input class="form-control form-control-md" placeholder="Confirm Password" type="password">
    </div>
    <div class="form-group mt-5">
      <button type="submit" class="btn btn-warning btn-lg btn-block"><i class="fas fa-user-plus"></i>&nbsp;SignUp</button>
    </div>
  </form>
</div>
